PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/motolift"

# Africa's Talking (USSD)
AT_USERNAME=sandbox
AT_API_KEY=your_api_key_here
AT_USSD_CODE=*384            #
AT_SENDER_ID=MotoLift

# MTN MoMo API
MOMO_BASE_URL=https://sandbox.momodeveloper.mtn.com
MOMO_SUBSCRIPTION_KEY=your_subscription_key
MOMO_API_USER=your_api_user
MOMO_API_KEY=your_momo_api_key
MOMO_ENVIRONMENT=sandbox

# JWT
JWT_SECRET=change_this_in_production
